#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 5px 5px;
  background-color: #ffffffde;
  box-shadow: 0 2px 5px #242424;
}

.search-container input[type="text"] {
  background-color: #242424;
  border: none;
  border-radius: 25px;
  outline: none;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.music-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.info-music-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  height: auto;
  margin: 10px;
  border: 1px solid #ffffffde;
  border-radius: 8px;
  padding: 10px;
  background-color: transparent;
}

.info-music-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  background-color: #f8f8f8;
}
